---
layout: default
---

<div class="home">
    <style scoped>
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
        @media screen and (max-width: 768px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image}}');
            }
        }
        @media screen and (max-width: 576px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
            }
        }
        {% endif %}
    </style>
    <div id="main" class="call-out call-out_img">
        <h1> {{ site.header_text | default: "Welcome to our Key Archive!" }} </h1>
    </div>

    <!-- Filter posts from KeyArchive folder -->
    <div class="posts">
        {% for post in site.posts %}
            {% if post.path contains '/KeyArchive/' %}
                <div class="post-preview">
                    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
                    <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</div>