---
layout: default
---
<div class="home2">
    <style scoped>
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
        @media screen and (max-width: 768px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image}}');
            }
        }
        @media screen and (max-width: 576px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
            }
        }
        {% endif %}
    </style>
    <div id="main" class="call-out call-out_img">
        <h1> {{"Key Archive"}} </h1>
        <h3> {{"Jeremy Zhang|Eric Gao|Robert Liao|Bobc Mei"}} </h3>
        <h5> {{"To-do list"}} </h5>
        <ul>
        <li>
            <label>
                <input type="checkbox" name="item1" value="item1" checked>
                {{"More Blocks(GrapesJS)"}}
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="item2" value="item2">
                {{"Hosting solution(github, gitlab, file system, ftp...)"}}
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="item3" value="item3">
                {{"Template for easy start"}}
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="item4" value="item4">
                {{"Documentation"}}
            </label>
        </li>
    </ul>
    </div>

    {% include blog/blog2.liquid %}

</div>